* {
  box-sizing: border-box;
  font-family:sans-serif;
 }

body {
 margin: 0;
 padding: 0;
 background-color: rgb(255, 255, 255); 
}

.imag {
  margin:12px 200px ;
}

div.type1 { 
 position: relative;
 background-color:rgb(220, 220, 220);
 border: 1px hidden black;
 height:220px;
 z-index: 1;
}

div.type2 {
position: absolute;
top:90px;
left: 240px;
right: 240px;
border: 1px hidden black;
z-index: 2;
height: 340px;
background-color: white;
box-shadow: 0px 0px 10px 0px grey;
border-radius: 2px;
}

footer{
  margin-top: 600px;
  border: 2px hidden black;
  padding-top: 40px;
  padding-left: 50px;
  padding-bottom: 60px;
  background-color: grey;
  color: white;
  
}

h1 {
 text-align: center;
 font-size: 38px;
 font-weight:bold;
 color: rgba(0, 0, 0,0.75);
 font-family: sans-serif;
 padding-top: 8px;
}

p{
 text-align: center;
 font-size: 24px;
 font-weight:bold;
 color: rgba(0, 0, 0,0.75);
 
 
}

p.para1{
 border: 2.5px solid red;
 width: 280px;
 margin: auto;
 margin-top: 20px;
 padding: 18px ;
 font-size: 17px;
 font-weight:400;
 text-align: center;
 color: black;
}

p.para1:hover {
 background-color: red;
 color: white;
}
 
.myInput {
 display: flex;
 border: 2.5px solid #ccc;
 border-radius: 2px;
 padding: 14px; 
 padding-left: 40px;
 margin-top: 10px;
 margin-bottom: 20px;
 margin: auto;
 width: 700px;
 border-radius: 4px;
 font-size: 18px;

}


a{
  text-decoration: none;
  color:white;
}
